<!DOCTYPE html>
<html lang="eng" ng-app="ToDont">
  <head>
   <meta charset="utf-8">
    <title>To Don't List</title>
    <!-- <link rel="stylesheet" href="css/styles.min.css"> -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/toDontController.js"></script>
  </head>
  <body ng-controller="toDontController as dontCtrl">
  <h1>A LIST OF THINGS YOU WANT TO NOT DO</h1>
  <h3>(BUT PROBABLY WILL ANYWAY)</h3>
  <form class="form-horizontal" name="addForm">
    <input type="text" class="input" ng-model="dontCtrl.task">
    <button class="add-task" ng-click="dontCtrl.addTask()">Add to list</button>
  </form>
  <ul ng-repeat="task in dontCtrl.dontList">
    <li>
    <p class="task">{{task}}</p>
    </li>
      <button ng-click="dontCtrl.deleteTask($index)" class="delete-btn">Delete</button>
       <button ng-click="editing = !editing" class="edit-btn">Edit</button>
    <span>
      <input type="text" ng-show="editing" ng-change="dontCtrl.updateText($index)" ng-model="dontCtrl.edit" ng-model-options="{updateOn: 'blur'}" class="edit-box">
    </span>
  </ul>
  <button class="complete">Yay, I didn't do it.</button>
  </body>


</html>
